$main-color:rgb(224, 224, 224);
$main-text-color:white; 
$accent-color: #6610f2;
$accent-shadow: #4b0bb3d3; 
$scrollbar-hover:#570ecc; 
$dark-color: #36454F;


html {
    scroll-behavior: smooth;
  }

.main{
background:$main-color;
font-size: 1.5em;  
color: $accent-color ;
min-height: 100vh;
}

.projectCard
{
   
    margin: 10px 5px;
}


.modal-content{
    background: $dark-color!important;
    color: $main-text-color;
}

#modal-description
{
    max-height: 400px;
    overflow: auto;
    font-size: .7em;
    &::-webkit-scrollbar{
        width: auto;
    }
    &::-webkit-scrollbar-track{
        background: $main-color;
        border-radius: 25px;
    }
    &::-webkit-scrollbar-thumb{
        background: $accent-color;
        border-radius: 25px;
        &:hover{
            background: $scrollbar-hover;
        }
    }

    &::-webkit-scrollbar-button{
        visibility:hidden;
    }
}

#modal-head{
    padding: 5px;
    background: $main-color;
    color: $accent-color;
}


.main-img-border{
    border: $accent-color 3px solid;
}

.modal-video{
    width: 100%;
    border: $accent-color 2px solid; 
}

.section-title{
    font-size: 1.8em;
}

.cardHover{
    &:hover{
        cursor: pointer;
    }
}


.nav-btn.btn-primary, .modal-btn-view.btn 
{
    font-size: 1.2em;
    color: $main-text-color;
    background-color: $accent-color;
    border:none;
    &:hover{
        color:$main-text-color;
        background-color: $accent-color;
    }
    &:active{
        background-color: $accent-color!important;
        box-shadow: 0 0 0 .2rem $accent-shadow!important;
        &:focus{
            background-color: $accent-color;
        }
    }
    &:visited{
        background-color: $accent-color;
    }
    &:focus{
        box-shadow: 0 0 0 .2rem $accent-shadow;
        background-color:$accent-color;
    }
}

.nav-btn.btn-primary{
    font-size: .9em;
    }

#react-tooltip, #bootstrap-tooltip, #react-redux-tooltip, #react-router-tooltip, #html-tooltip, #sass-tooltip, #javascript-tooltip {
font-size: .7em;
}

// font size fixers

.modal-header-font-large{
   font-size: 1.8em;
}

.modal-header-font-medium{
    font-size: 1.6em;
}

.modal-header-font-small{
    font-size: 1.25em;
}

.key-tech-modal-font-large{
    font-size: 3.5em;
}

.key-tech-modal-font-small{
    font-size: 2.2em;
}
.project-card-header-text
{
    font-size: 1em;
    margin-top: 20px;
    &:hover{
        cursor: pointer;
    }
}

.color-nav{
    background: $dark-color;
    font-size: 25px;
}


.card-header{
   &.contact-info-header{
    background-color:$dark-color;
    color:$main-text-color;
   }
    
}

.contact-link
{
    color:$accent-color;
    font-size: .95em;
    &:hover{
        color:$dark-color;
    }
}

.card.text-center{
    border:$accent-color solid 2px;
}

#start-msg-topline{
    margin-top: 120px;
    font-size:60px;
}
#start-msg-topline-small{
    margin-top: 120px;
    font-size:40px;
}

#projects-msg-topline{
    margin-top: 140px;
}

#projects-section{
    margin-top: 100px;
}

