
.main{
background: linear-gradient( #4286f4, #373B44); 
font-size: 1.5em;  
color: white;
min-height: 100vh;
background-color: green;
}

.projectCard
{
   
    margin: 10px 5px;
}



.modal-content{
    // background: #033252!important;
    background: #464646!important;
    color: white;
    
}




#modal-description
{
    max-height: 400px;
    overflow: auto;
    font-size: .7em;
    &::-webkit-scrollbar{
        width: auto;
    }
    &::-webkit-scrollbar-track{
        background: rgb(207, 204, 204);
        border-radius: 25px;
    }
    &::-webkit-scrollbar-thumb{
        background: #dc3545;
        border-radius: 25px;
        &:hover{
            background: #ba202f;
        }
    }

    &::-webkit-scrollbar-button{
        visibility:hidden;
    }
}



#modal-head{
    padding: 5px;
    background: rgb(207, 204, 204);
    color: #dc3545;
}


.main-img-border{
    border: white 3px solid;
}

.modal-video{
    width: 100%;
    border: white 1px solid; 
}

.section-title{
    font-size: 1.8em;
}

.cardHover{
    &:hover{
        cursor: pointer;
    }
}

.key-tech-modal-font{
    font-size: 3.5em;
}

a.modal-btn-view.btn
{
    &.btn-danger{
        font-size: 1.2em;
    }
}

#react-tooltip, #bootstrap-tooltip, #react-redux-tooltip, #react-router-tooltip, #html-tooltip, #sass-tooltip, #javascript-tooltip {
font-size: .7em;
}