
.main{
background: linear-gradient( #4286f4, #373B44); 
font-size: 1.5em;  
color: white;
min-height: 100vh;
background-color: green;
}

.projectCard
{
   
    margin: 10px 5px;
}

.modal-content{
    background: #464646!important;
    color: white;
}



#modal-description
{
    max-height: 400px;
    overflow: auto;
    font-size: .7em;
}


.modal-header-text
{
    font-size: 1.65em;
    
    &.modalHeader{
       &div{
        padding: 0;
       }
    }
}

.main-img-border{
    border: white 3px solid;
}

.modal-video{
    width: 100%;
    border: white 1px solid; 
}

.section-title{
    font-size: 1.8em;
}

.cardHover{
    &:hover{
        cursor: pointer;
    }
}

.key-tech-modal-font{
    font-size: 3.5em;
}

#react-tooltip, #bootstrap-tooltip, #react-redux-tooltip, #react-router-tooltip, #html-tooltip, #sass-tooltip, #javascript-tooltip {
font-size: .7em;
}